name: studio2stadium

services:
  db:
    image: postgres:18
    container_name: postgresdb
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
  redis:
    image: redis:latest
    container_name: redis
    restart: always
    command:
      ["redis-server", "--save 20 1", "--loglevel warning"]
    ports:
      - "6379:6379"
    volumes:
      - cache:/data
  event-server:
    build:
      context: ./apps/event-server
      dockerfile: Dockerfile
    container_name: event-server
    volumes:
      - ./apps/event-server:/app
      - ./apps/event-server/cmd/.env:/app/cmd/.env
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  cache:
    driver: local
  pgdata:
