name: studio2stadium

services:
  db:
    image: postgres:18
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
  redis:
    image: redis:latest
    restart: always
    command:
      ["redis-server", "--save 20 1", "--loglevel warning", "--requirepass ${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"
    volumes:
      - cache:/data

volumes:
  cache:
    driver: local
  pgdata:
