APP_NAME=
APP_KEY==
HEALTH_SECRET==

LOG_LEVEL=debug

TZ=UTC
PORT=3333
HOST=localhost

LIMITER_STORE=
SESSION_DRIVER=

SESSION_COOKIE_NAME=
SESSION_AGE=
CACHE_COOKIE_NAME=
CACHE_COOKIE_AGE=

DATABASE_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

DRIVE_DISK=
S3_BUCKET=

MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
