TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=memory
SESSION_AGE=604800
COOKIE_CACHE_NAME=auth_cache
LIMITER_STORE=memory

DATABASE_URL=postgres://postgres:postgres@localhost:5432/postgres?pgbouncer=true
DIRECT_URL=postgres://postgres:postgres@localhost:5432/postgres

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
# Generate with openssl rand -base64 32
REDIS_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
