@font-face {
  font-family: "Outfit Latin";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("@fontsource-variable/outfit/files/outfit-latin-wght-normal.woff2")
    format("woff2-variations");
}
